<manifest package="com.github.karthyks.runtimepermissions"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".PermissionActivity"
            android:theme="@style/Theme.Transparent.NoTitle">
        </activity>

    </application>

</manifest>
